@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap');

body{
    font-family: 'Sora', sans-serif;
}

li{
    margin-bottom: 1.3rem;
}

a{
    text-decoration: none;
}

h2{
    margin-bottom: 2rem
}

.footer{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
    border-radius: 15px;
    transition: all 0.5s;
    padding: 1.8rem;
    background-color: white !important;
    border-style: solid;
    border-color: #adbad283;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 52px 28px rgba(0,0,0,0.1);
}


hr {
    border-top: 10px solid #1a3a75;
    width: 70px;
    border-radius: 5px;
    margin: auto;
    opacity: 1;
  }

h1{
    font-weight: bold;
}

h4{
    font-weight: 700;
}

#equipo{
    padding-top: 4rem;
    background-color: #EFF3F8;
    padding-bottom: 4rem;
}