@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap');

body{
    font-family: 'Sora', sans-serif;
}

li{
    margin-bottom: 1.3rem;
}

a{
    text-decoration: none;
}

h2{
    margin-bottom: 2rem
}

.footer{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card{
    border-radius: 15px;
    transition: all 0.5s;
    padding: 1.8rem;
    background-color: white !important;
    border-style: solid;
    border-color: #85a6e283;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 52px 28px rgba(67, 111, 214, 0.1);
}


hr {
    border-top: 10px solid #1a3a75;
    width: 70px;
    border-radius: 5px;
    margin: auto;
    opacity: 1;
  }

h1{
    font-weight: bold;
}

h4{
    font-weight: 700;
}

#equipo{
    background-color: #EFF3F8;

}
#presupuesto{
    background-color: #EFF3F8;

}
#range{
    width: 100%;
    height: 15px;
    padding: 20px;
    
}
.range::-webkit-range-thumb{
    -webkit-appearance: none;
    width: 40px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.range::webkit-range-thumb:hover{
    box-shadow: 0 0 0 3px #00cc,
                0 0 0 6px, white;
}
.range:active::-webkit-range-thumb{
    box-shadow: 0 0 0 3px #00cc,
                0 0 0 6px, white;
}


.btn btn-outline-primary{
    padding: 20px;
    border-radius: 60px;
    align-items: center;

}

.navbar-brand>img{
    border-radius: 15px;
}

.custom-button{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); 
    color: white;
    padding: 20px;
    border-radius: 60px;
    border: none;
}

.carousel-item>img{
    object-fit: cover;
    object-position: center;
    height: 90vh;
    
}

#formContacto{
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: #EFF3F8;
}